<div class="panel panel-default">
    <div class="panel-heading">
        メッセージ一覧
    </div>
</div>

    <div class="panel-body">
        <% @messages.each do |message| %>
            <span class="label label-info"><%= message.name %></span>
            <%= message.body %>
        <br>
        <% end %>
    </div>

<%= form_for(@message) do |f| %>
    名前：
    <%= f.text_field :name %>
    
    内容：
    <%= f.text_field :body %>
    <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>
